<div data-role="carousel" class="bg-transparent mt-20"
     data-controls="false"
     data-auto-start="true"
     data-cls-controls="fg-white"
     data-bullets-position="right"
     style="
position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);"
>
    <div class="slide p-2 pl-10 pr-10">
        <div class="row flex-align-center h-100">
            <div class="cell-md-4 text-center">
                <img src="assets/bg3.jpg" class="img-fluid">
            </div>
            <div class="cell-md-8 fg-white">
                <h1 class="text-light">Lima</h1>
                <p class="mt-4 mb-4">Lima is a futuristic concept for a second earth; a metaverse, between virtual and physical reality in which real-world geolocations on a sectioned map correspond to user generated digital virtual environments. These environments can be owned, bought, sold, and in the near future deeply customized.</p>
            </div>
        </div>
    </div>

    <div class="slide p-2 pl-10 pr-10 fg-white">
        <div class="row flex-align-center h-100">
            <div class="cell-md-8">
                <p class="indent-letter">A virtual 1:1 scale version of Earth is inevitable and Lima® is the beginning of this exciting future.</p>
            </div>
            <div class="cell-md-4 text-center">
                <div class="img-container drop-shadow">
                    <img src="assets/hex.jpg">
                </div>
            </div>
        </div>
    </div>
</div>